.visible-when-double {
  display: none;
}

.double .visible-when-double {
  display: block;
}

#manyforms-form .form-submit {
	margin: 2em 0;
}

#manyforms-form .grippie {
	display: none;
}

#manyforms-form textarea {
	min-height: 18px;
	padding: 0;
}
